FROM {{ base }}

{% for arg in build_args %}
ARG {{ arg }}
{% endfor %}

{% for copy in copy_list %}
COPY {{ copy }} {{ workdir }} 
{% endfor %}

WORKDIR {{ workdir }}

{% if scripts|length > 0 %}
RUN {{ ' && '.join(scripts) }}
{% endif %}

